<h1>Log in</h1> 
<div class="container text-center">
    <div class="form">
        <div class="card justify-content bg-dark">
            <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %> 
            <div class="d-flex flex-column">
                <%= f.label :email ,class:'text-light py-3 fs-3'%> 
                <div class="p-3"><%= f.email_field :email,class:'p-3'%> </div>
                <%= f.label :password,class:'text-light py-3 fs-3' %> 
                <div class="p-3"><%= f.password_field :password ,class:'p-3'%> </div>
           <div class="p-3"><%= f.submit "Log in",class:'btn btn-success'%></div>
            </div>
            <% end %>
        </div> 
    </div>
</div>

