<p id="notice"><%= notice %></p>

<p><P><%= @feed.inspect %></P>
  <strong>Image:</strong>
  <div style="width: 18rem;">
    <% if @feed.image.url %>

    <%= image_tag @feed.image.url,class:'img-fluid w-50 img-thumbnail'%>
    <% else %>
    <%= image_tag('index.png',:alt => "--",class:'img-fluid w-50 img-thumbnail')%>
    <% end %>
    
  </div>
  <p><%= @feed.content %></p> 
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
