<p id="notice"><%= notice %></p>
<div class="container w-100">

<div class="text-center content d-block m-auto">
  <div class='text-center'style="width: 18rem;">
    <% if @feed.image.url %>

    <%= image_tag @feed.image.url,class:'img-fluid w-70 img-thumbnail'%>
    <% else %>
    <%= image_tag('default.png',:alt => "--",class:'img-fluid w-50 img-thumbnail')%>
    <% end %>
    <p><%= @feed.content %></p> 
<%= link_to 'Back', feeds_path %>
  </div>
 
</div>

</div>

