<%= form_with(model: @user, local: true) do |f| %> 

<h1 class="p-2">Sign up</h1> 
 <% if @user.errors.any? %> 
 <div id="error_explanation"> 
 <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2> 
 <ul> 
 <% @user.errors.full_messages.each do |message| %> 
 <li><%= message %></li> 
 <% end %> 
 </ul> 
 </div> 
 <% end %> 
 <div class="container text-center">
    <div class="form">
        <div class="card justify-content bg-dark">
            <%= form_with(model: @user, local: true) do |f| %> 
            <div class="d-flex flex-column">
                <%= f.label :name ,class:'text-light py-3 fs-3'%> 
                <div class="p-3"><%= f.text_field :name  ,class:'p-3'%> </div>

                <%= f.label :email ,class:'text-light py-3 fs-3'%> 
                <div class="p-3"><%= f.email_field :email  ,class:'p-3'%> </div>

                <%= f.label :password,class:'text-light py-3 fs-3' %> 
                <div class="p-3"><%= f.password_field :password ,class:'p-3'%> </div>

                <%= f.label :password_confirmation,class:'text-light py-3 fs-3' %> 
                <div class="p-3"><%= f.password_field :password_confirmation ,class:'p-3'%> </div>
           <div class="actions p-3"><%= f.submit "Create my account",class:'btn btn-success btn-3d'%></div>
            </div>
            <% end %>
        </div> 
    </div>
</div>
<% end %>
