<h1 class="p-3">Bienvenue <%= @user.name %> Sur Iclone</h1>
<style>
    .container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}
</style>
<div class="card">
    <div class="container">
        <div class="row">
          <div class="col-md-6 img">
              <% if  @user.image %>
              <%= image_tag @user.image.url,class:'img text-center w-75 rounded-circle '%>
             
              <% else %>
              <%= image_tag 'defautl.png',class:'img text-center w-75 rounded-circle ' %>
              <% end %>
          
          </div>
          <div class="col-md-6 details">
            <blockquote>
              <h5><%=@user.name%> </h5>
              <small><cite title="Source Title"> <%= @user.email%>  <i class="icon-map-marker"></i></cite></small>
            </blockquote>
            <%= link_to "Editer le profile", edit_user_path(@user.id) ,class:'btn btn-danger'%>
          </div>
        </div>
    </div>
    <div class="container text-center py-3">
        <%= link_to "Ajouter un post", new_feed_path,class:"btn btn-secondary text-center" %>
      <%= link_to "Voir les posts", feeds_path,class:"btn btn-secondary text-center" %>
      </div>
</div>

